
.swiper-slide.swiper-slide-active .swiper-inner,
.swiper-slide.swiper-slide-duplicate-active .swiper-inner{
  animation-name: scaleIn;
  animation-duration: 1.5s;
  animation-delay: 0s;
}

.swiper-slide.swiper-slide-active .subtitle,
.swiper-slide.swiper-slide-duplicate-active .subtitle{
    animation-name: fadeInUp;
    animation-duration: .75s;
    animation-delay: 1s;
}
.swiper-slide.swiper-slide-active h1,
.swiper-slide.swiper-slide-duplicate-active h1{
    animation-name: fadeInUp;
    animation-duration: .75s;
    animation-delay: 1.3s;
}
.swiper-slide.swiper-slide-active .btn-main,
.swiper-slide.swiper-slide-duplicate-active .btn-main{
    animation-name: fadeInUp;
    animation-duration: .75s;
    animation-delay: 1.6s;
}
.swiper-slide.swiper-slide-active .slider-extra,
.swiper-slide.swiper-slide-duplicate-active .slider-extra{
    animation-name: fadeInUp;
    animation-duration: .75s;
    animation-delay: 1.9s;
}
